@import 'bootstrap/scss/functions';
@import './variables';
@import './variables-dark';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';

body {
  background-color: #000918; /* 設定網站的背景顏色 */
  color: $primary-000;
}
/* 連結清除 */
a,
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}
