@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&display=swap');
@import 'bootstrap/scss/functions';
@import './variables';
@import './variables-dark';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';

//引入字體大小，例如fs-lg-1在988px以上呈現fs-1
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

@import "bootstrap/scss/utilities/api";

// .btn {
//   color: $primary-000;
//   &:hover {
//     background-color: $primary-300;
//     border-color: $primary-300;
//     color: $primary-700;
//   }
// }

.btn {
  color: $primary-000;

  &:hover {
    background-color: $primary-300;
    border-color: $primary-300;
    color: $primary-700;
  }

  &.selected {
    background-color: $primary-700;
    border-color: $primary-700;
    color: $primary-000;
  }

  &:disabled {
    background-color: $grey-200;
    border-color: $grey-200;
    color: $grey-000;
    cursor: not-allowed;
    opacity: 0.65;
  }
}


// custom.scss（或 all.scss）
// 1. 先 override Bootstrap 變數：
$btn-font-weight: 500 !default;
$btn-border-radius: .375rem !default;

/* 預設 btn */
$btn-padding-y: .5rem;       // 8px
$btn-padding-x: 1rem;        // 16px
$btn-font-size: 1rem;        // 16px

/* 小 btn-sm */
$btn-sm-padding-y: .25rem;   // 4px
$btn-sm-padding-x: .5rem;    // 8px
$btn-sm-font-size: .875rem;  // 14px

/* 大 btn-lg */
$btn-lg-padding-y: .75rem;   // 12px
$btn-lg-padding-x: 1.5rem;   // 24px
$btn-lg-font-size: 1.25rem;  // 20px



