@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+TC:wght@200..900&display=swap');
@import 'bootstrap/scss/functions';
@import './variables';
@import './variables-dark';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/bootstrap';

//引入字體大小，例如fs-lg-1在988px以上呈現fs-1
$utilities: map-merge(
  $utilities,
  (
    "font-size":
      map-merge(
        map-get($utilities, "font-size"),
        (
          responsive: true,
        )
      ),
  )
);

@import "bootstrap/scss/utilities/api";

.btn {
  color: $primary-000;
  &:hover {
    background-color: $primary-300;
    color: $primary-700;
  }
}
